<head>
</head>
<body="initCanvas()">  
<div id="wrapper">  
  
<div id="header">  
  Header
  <input type="button" onClick="canvasEvent.initCanvas('canvas')" value="キャンバス初期化" style="float: right;">
  <input type="button" onClick="canvasEvent.deleteCanvasObject(selectedCanvasObject)" value="キャンバスオブジェクト削除" style="float: right;">
</div>  
  
<div id "main">
<!--sidebar部分-->  
<div id="sidebar">  
<center>
  <div id = components>
    <br>
      <div class=component id=file_read><img id=file_read src="/img/file_read_icon.png" width=90% height=50px></img></div>
    <br>
      <div class=component id=file_write><img id=file_wirte src="/img/file_write_icon.png" width=90% height=50px></img></div> 
    <br>
      <div class=component id=http_get><img id=http_get src="/img/http_get_icon.png" width=90% height=50px></img></div>
  </div>
</center>
</div>  

<div id="contents">  
  <div id="canvas" doraggable="false" droppable="true"> </div>  
</div>  
  

</div>  
</div>  
</body>  
<script type="module">
import * as canvas from '/js/canvas.js';
window.canvas = new canvas.Canvas('canvas');

console.log(canvas)

let components = document.querySelectorAll('#components .component');
// let canvas = document.querySelector('#canvas');
const canvasElement = document.getElementById('canvas');
const mousePosition = {};
let selectedCanvasObject = null;
window.selectedCanvasObject = selectedCanvasObject;

// Elementが代入される変数
let dragSrcEl = null;

const initCanvas = () => {
  removeAllCanvasObject();
} 

const removeAllCanvasObject = () => {
  // canvas内のcanvasObjectの全削除
  const canvasElement = document.getElementById('canvas')
  while (canvasElement.firstChild) {
    canvasElement.removeChild(canvasElement.firstChild);
  }
}

const deleteCanvasObject = (canvasObject) => {
  console.log(canvasObject);
  canvasObject.remove();
  selectedCanvasObject.remove();
}

const dragStartFromSidebar = function (e) {
  dragSrcEl = this;
  mousePosition.x = e.x;
  mousePosition.y = e.y;
  e.dataTransfer.dropEffect = 'copy';
  e.dataTransfer.setData('text/html', this.innerHTML);
}

// canvas内にあるcanvasObjectのドラッグ時のイベント
const dragStartFromCanvasObject = function (e) {
  dragSrcEl = this;
  mousePosition.x = e.x;
  mousePosition.y = e.y;
}

const handleDragOver = function(e) {
  if (e.preventDefault) {
    e.preventDefault(); // Necessary. Allows us to dorp
  }
  e.dataTransfer.dorpEffect = 'copy'; // See the section on the DataTransfer object.
  return false;
}

let targetCanvasObjectExists = true;
const targetPosition = {}
const dropToCanvas = function (e) {
  const targetPosition = {};
  mousePosition.x = e.x;
  mousePosition.y = e.y;
  targetPosition.x = mousePosition.x;
  targetPosition.y = mousePosition.y;
  switch(dragSrcEl.className) {
    // サイドバーからのドラッグアンドドロップ
    case "component":
      const image = dragSrcEl.children[0]
      const insertHTML = `<span class=canvasObject style="left: ${targetPosition.x - 30}; top: ${targetPosition.y - 30};"> 
                            <img src=${image.src} style="width: 95%; height: 95%">
                          </span>`;
      // 新しく登録されたcanvasObjectにイベントの登録                    
      this.insertAdjacentHTML('afterbegin',insertHTML);
      const canvasObjects = document.querySelectorAll('#canvas .canvasObject')
      canvasObjects.forEach(canvasObject => {
        canvasObject.addEventListener('dragstart', dragStartFromCanvasObject, false);
        canvasObject.addEventListener('drop', dragCheck, false);
        canvasObject.addEventListener('click', clickCanvasObject, false);
      });
      break;
      
    // キャンバス内からキャンバス内へのドラッグアンドドロップ
    case "canvasObject":
    console.log(targetCanvasObjectExists);
      // ドラッグ先にcanvasObjectが存在しない場合
      if(targetCanvasObjectExists) {
        console.log("test2");
        dragSrcEl.style.left = targetPosition.x;
        dragSrcEl.style.top = targetPosition.y;
      }
      else {
        targetCanvasObjectExists = true;
      }
      break;
  }
  return false;
}

const clickCanvasObject = function (e) {
  const canvasObjects = document.querySelectorAll('#canvas .canvasObject')
  canvasObjects.forEach(canvasObject => canvasObject.style.filter = "brightness(100%)")
  selectedCanvasObject = this;
  window.selectedCanvasObject = this;
  this.style.filter = "brightness(90%)";
}

// ２つのイベントが同時に実行可能な場合,子ノードから優先して実行されるっぽいので
// 子ノードのイベントが実行されないようにする
const dragCheck = function (e) {
  console.log("test1");
  targetCanvasObjectExists = false;
}

components.forEach(component => {
  component.addEventListener('dragstart', dragStartFromSidebar, false);
  component.addEventListener('dragover', handleDragOver, false);
});

canvas.addEventListener('dragover', handleDragOver, false);
canvas.addEventListener('drop', dropToCanvas, false);

</script>

<style>
#wrapper {  
  width: 100%;  
  height: 100%;
}  
#header {  
  width: 100%;  
  height: 50px;
  margin: 0;  
  padding: 0;  
}  
#main {  
  top: 50px;
  height: 100%;
  width: 100%;
}
#sidebar {  
  overflow: scroll;
  height: 100%;
  width: 200px;  
  float: left;  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;
  border-style: solid;
}  
#contents {  
  height: 100%;
  width: calc(100% - 200px);  
  float: right;  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;
  border-style: solid;
}  
#canvas {  
  height: 100%;
  width: 100%;
}
.canvasObject {  
  display: inline-block;
  position: absolute;
  height: 40px;
  width: 100px;
}
</style>
