<head>
</head>
<body onLoad="initCanvas()">  
<div id="wrapper">  
  
<div id="header">  
Header
</div>  
  
<div id "main">
<!--sidebar部分-->  
<div id="sidebar">  
<center>
  <div id = components>
    <br>
    <div class=component><img id=file_read src="/img/file_read_icon.png" width=90% height=50px></img></div>
    <br>
    <div class=component><img id=file_wirte src="/img/file_write_icon.png" width=90% height=50px></img></div> 
    <br>
    <div class=component><img id=http_get src="/img/http_get_icon.png" width=90% height=50px></img></div>
  </div>
</center>
</div>  

<div id="contents">  
  <div id = "canvas">
  </div>  
</div>  
  

</div>  
</div>  
</body>  

<script>
let components = document.querySelectorAll('#components .component');
let canvas = document.querySelector('#canvas');
const canvasElement = document.getElementById('canvas');
const mousePosition = {};

// マウスの座標更新イベント多分いらない
// window.onload = function(){
//   document.body.addEventListener("mousemove", function(e) {
//     mousePosition.x = e.pageX;  //X座標
//     mousePosition.y = e.pageY;  //Y座標
//   });
// }

// Elementが代入される
let dragSrcEl = null;

const initCanvas = () => {
  const target = document.getElementById('canvas');
  for(let i = 0; i < 4; i++) {
    target.insertAdjacentHTML('afterbegin', '<span class=object><font size="7">・</font></span>');
  }
  
  
  
  // canvasの要素へのイベント登録
  canvasObjects = document.querySelectorAll('#canvas .object');
  canvasObjects.forEach(component => {
    component.addEventListener('dragstart', dragStartFromSidebar, false);
    component.addEventListener('dragover', handleDragOver, false);
    component.addEventListener('drop', dropFromSidebar, false);
  });
} 


const dragStartFromSidebar = function (e) {
  dragSrcEl = this;
  mousePosition.x = e.x;
  mousePosition.y = e.y;
  e.dataTransfer.dropEffect = 'copy';
  e.dataTransfer.setData('text/html', this.innerHTML);
  console.log(mousePosition);
}

const handleDragOver = function(e) {
  if (e.preventDefault) {
    e.preventDefault(); // Necessary. Allows us to dorp
  }
  e.dataTransfer.dorpEffect = 'copy'; // See the section on the DataTransfer object.
  return false;
}

const dropFromSidebar = function (e) {
  if (this.className != 'component') {
    this.innerHTML = e.dataTransfer.getData('text/html');
    // children[0]はimage
    // 要素内の画像の大きさを変更
    const image = this.children[0];
    image.style.width  = "80px"
    image.style.height = "80px"
    const rect = dragSrcEl.getBoundingClientRect();
    console.log(rect)
    console.log(rect.left);
    console.log(rect.top);
  }
  return false;
}

const drag = function (e) {
  mousePosition.x = e.x;
  mousePosition.y = e.y;
  console.log(mousePosition);
}

components.forEach(component => {
  component.addEventListener('dragstart', dragStartFromSidebar, false);
  component.addEventListener('dragover', handleDragOver, false);
  component.addEventListener('drop', dropFromSidebar, false);
  component.addEventListener('drag', drag, false);
});

canvas.addEventListener('dragstart', dragStartFromSidebar, false);
canvas.addEventListener('dragover', handleDragOver, false);
canvas.addEventListener('drop', dropFromSidebar, false);
canvas.addEventListener('drag', drag, false);

</script>

<style>
#wrapper {  
  width: 100%;  
  height: 100%;
}  
#header {  
  width: 100%;  
  height: 50px;
  margin: 0;  
  padding: 0;  
}  
#main {  
  top: 50px;
  height: 100%;
  width: 100%;
}
#sidebar {  
  overflow: scroll;
  height: 100%;
  width: 200px;  
  float: left;  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;
  border-style: solid;
}  
#contents {  
  height: 100%;
  width: calc(100% - 200px);  
  float: right;  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;
  border-style: solid;
}  
</style>
